In [1]:
from src import *

In [2]:
db = Database()

In [ ]:
db

In [3]:
db.connect()

In [ ]:
result = create_table(db.conn,db.cursor,EMPLOYEE)

In [ ]:
result = delete_table(db.conn,db.cursor,"employee")

In [ ]:
result

In [ ]:
result = insert_value(db.conn,db.cursor,"employee",(555666777,"Eleonora Arilda Penedo Gomes de Padilha","Fem",34,"pardo","Ensino Médio","Santa Catarina",12.0,"Compras","Analista Pleno",22.0))

In [ ]:
result

In [ ]:
remove_value(db.conn,db.cursor,"employee", "age < 18")

In [ ]:
def remove_nan_records(conn, cursor, table, columns):
    # Construa a consulta SQL para remover registros com valores NaN
    remove_nan_query = """
        DELETE FROM {}
        WHERE True IN (
            {}
        );
    """

    # Construa a parte da consulta que verifica se qualquer coluna contém NaN
    nan_checks = []
    for column in columns:
        nan_checks.append(f" {column} IS NULL OR {column} = 'NaN' ")

    # Substitua {} na consulta SQL pelo nome da tabela
    remove_nan_query = remove_nan_query.format(table, " OR ".join(nan_checks))

    # Execute a consulta SQL
    cursor.execute(remove_nan_query)

    # Faça commit para confirmar as alterações
    conn.commit()

In [ ]:
remove_nan_records(db.conn,db.cursor,"employee",["time","entry_age"])

# VALOR INICIAL -> 9879
# APÓS REMOÇÃO < 18 -> 9873
# APÓS REMOÇÃO DE VALORES NaN -> 9674

In [6]:
count_values(db.conn,db.cursor,"employee")

9674

In [ ]:
db.disconnect()

In [ ]:
type(db.conn)