In [1]:
from src import *

In [2]:
db = Database()

In [3]:
db

In [4]:
db.connect()

In [ ]:
result = create_table(db.conn,db.cursor,EMPLOYEE)

In [ ]:
result = delete_table(db.conn,db.cursor,"employee")

In [ ]:
result

In [22]:
result = insert_value(db.conn,db.cursor,"employee",(555666777,"Eleonora Arilda Penedo Gomes de Padilha","Fem",34,"pardo","Ensino Médio","Santa Catarina",12.0,"Compras","Analista Pleno",22.0))

In [6]:
result

True

In [27]:
remove_value(db.conn,db.cursor,"employee", "age < 18")

In [20]:
def count_values(conn: object, cursor: object, table: str)-> bool:
    #DELETE FROM employee WHERE age < 18;
    
    query = f"SELECT COUNT(*) FROM {table};"
    cursor.execute(query)
    return cursor.fetchone()[0]

# VALOR INICIAL -> 9879
# APÓS REMOÇÃO < 18 -> 9873

In [28]:
count_values(db.conn,db.cursor,"employee")

9873

In [29]:
db.disconnect()

In [ ]:
type(db.conn)