In [6]:
from src import *
from os.path import join

In [7]:
db = Database()
db.connect()

In [8]:
from pandas import read_csv

In [9]:
df = read_csv(join("Data_Base","Dados_filtrados","base_dados_filtrados.csv"))

In [11]:
df

,id,Nome,Genero,Idade,Raça,Formação,Estado,Tempo de casa,Departamento,Senioridade,Idade Ingresso
0,1,Eleonora Arilda Penedo Gomes de Padilha,Fem,34,pardo,Ensino Médio,Santa Catarina,12.0,Compras,Analista Pleno,22.0
1,2,Elisângela Gabrielle de Osório,Fem,26,pardo,Ensino Médio,Pará,6.0,Contabilidade,Analista Júnior,20.0
2,3,José Túlio de Cabral,Masc,35,pardo,Ensino Médio,Santa Catarina,5.0,Vendas,Analista Pleno,30.0
3,4,Ezequiel Edivaldo de Medeiros Sonao,Masc,24,pardo,Ensino Superior,Tocantins,4.0,Administrativo,Gerente,20.0
4,5,Fagner Josiel dos Santos,Masc,21,pardo,Ensino Superior,Ceará,5.0,Recursos Humanos,Analista Júnior,16.0
...,...,...,...,...,...,...,...,...,...,...,...
9874,9996,Omar Camilo da Paz,Masc,30,pardo,Ensino Superior,Rondônia,5.0,Contabilidade,Analista Júnior,25.0
9875,9997,Edu de Muniz Jinuyul Neto,Masc,44,pardo,Ensino Médio,Paraíba,10.0,Contabilidade,Analista Júnior,34.0
9876,9998,Benedito Robert Dlievic,Masc,21,branco,Ensino Superior,Distrito Federal,6.0,Desenvolvimento de Produtos,Gerente,15.0
9877,9999,Bento Osvaldo do Piauí,Masc,39,pardo,Ensino Superior,Paraná,5.0,Vendas,Analista Júnior,34.0
9878,10000,Augusto José do Rio de Tavares,Masc,35,branco,Ensino Superior,Pernambuco,2.0,Vendas,Analista Pleno,33.0

In [10]:
for _,row in df.iterrows():
    result = insert_table(
                            db.conn,
                            db.cursor,
                            "employee",
                            (
                            int(row["id"]),
                            row["Nome"],
                            row["Genero"],
                            row["Idade"], 
                            row["Raça"], 
                            row["Formação"], 
                            row["Estado"], 
                            float(row["Tempo de casa"]), 
                            row["Departamento"], 
                            row["Senioridade"],
                            float(row["Idade Ingresso"])
                            )
                        )